/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------------
THEME STYLE
-------------------------------*/

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
	line-height: 1.5em;
  width: 80%;
  margin: 0 auto;
}

header {
	overflow: overlay;
}

b {
	font-weight:bolder;
}

i {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

button, select, input {
	background-color: #FFF;
	border: 2px solid #000;
	padding: 5px;
}

button {
	margin-right: 5px;
	border-radius: 100px;
}

select {
	/* Hiding browser arrow */
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

	color: inherit;
	float: right;
	width: 150px;
}

::placeholder {
	color: #000;
	opacity: 1; /* Firefox */
  }

:-ms-input-placeholder {color: #000;}

#selectedGames {
	margin: 2em 0;

}

.selectDiv {
	position: relative;
	float: left;
	margin-right: 10px;
}

.selectDiv:after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f0dd";
	right: 11px;
	position: absolute;
	pointer-events: none;
}

.noArrow:after {
	content: none;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0;
}

#settings, #gameFilters {
  margin: 1em 0;
}

.container {
	display:inline-grid;
}

a {
	line-height: 0;
}

.container {
	position: relative;
	float:left;
/*	margin: 0 10px; */
}

.overlay {
	position: absolute;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	width: 100%;
	height: 100%;
	transition: .1s ease;
	visibility: hidden;
	float:left;
}

.linkA {
	margin: 0 8%;
	float:left;
	width: 33%;
	margin-top: 10%;
}

.logos {

	width: 100%;

}

.GamePosition {

	color: white;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.8);
	width: 77%;
	padding-left: 5%;

}

.container:hover .overlay {
	visibility: visible;
}

#error {
	z-index: 1;
	background-color: #e74c3c;
	color: white;
	box-shadow: 10px 10px grey;
	padding: 5px 5px;
	display: inline-block;
}

	/* Loader section */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #dadada;
  border-radius: 50%;
  border-top: 16px solid #3498db;
	box-shadow: 0px 0px 10px grey;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#pageleft, #pageright {
	visibility: hidden;
}

#itemsperpage {
	display: none;
}
